:root {
  --title-color: currentcolor;
  --mute-color: hsl(0 0% 60% / 0.7);
  --liked-color: linear-gradient(
    to bottom right,
    hsl(0 60% 50%),
    var(--fill-color)
  );
  --not-working: hsl(0 0% 30%);
  --current-time: 0%;
  --fill-color: hsl(120 30% 50%);
  /*--content: "";
  --marquee-width: 100%;*/
  --scroll: 0%;
}

main:not(.login) {
  /*display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto auto;
  height: 100vh;
  height: 100dvh;
  min-height: 600px;
  overflow: hidden;
  /*height: 100;
  /*padding: 20px;
  gap: 10px;*/
}

main.login {
  height: 100vh;
  height: 100dvh;
}

.greet {
  font-size: clamp(12px, 8vw, 5rem);
  font-weight: bold;
  margin-bottom: 20px;
}

main > section {
  /*flex-grow: 1;*/
  grid-area: -1 / 1 / 1 / -1;
  width: 100%;
  padding: 20px;
  padding-block-end: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow: auto;
}

.container {
  width: 100%;
  display: flex;
  height: 60px;
  gap: 10px;
  align-items: center;
}

.cv {
  max-height: 100%;
  height: 60px;
  aspect-ratio: 1;
  background: hsl(0 0% 10%);
  overflow: hidden;
  position: relative;
}

.cv > img {
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  max-width: 60%;
  overflow: hidden;
}

.title {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 20px;
}

.title.marquee::after {
  content: var(--content);
}
.title.marquee {
  width: var(--marquee-width);
  display: flex;
  overflow: visible;
  text-overflow: initial;
  animation: marquee var(--animation-duration, 10s) linear infinite;
}

@keyframes marquee {
  25% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
  }
}

.info > :is(.artist, .total),
.secondary {
  align-self: flex-start;
  font-size: 0.6rem;
  color: var(--mute-color);
  stroke: var(--mute-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.icon:has(> svg) {
  height: 65%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
}

.icon > svg {
  height: 100%;
  width: 100%;
}

nav button > .icon > svg {
  --mute-color: hsl(0 0% 60% / 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  stroke: var(--mute-color);
}

nav button > .icon {
  width: 20%;
  padding-bottom: 20%;
  position: relative;
}

nav {
  grid-area: 3 / 1 / 4 / -1;
  background: linear-gradient(
    to bottom,
    transparent,
    hsl(0 0% 0% / 0.8),
    black
  );
  animation: fade 5s ease;
  transition: transform 0.3s linear;
}

/* nav[aria-hidden="true"] {
  display: none;
  animation: fade 5s ease;
}

@keyframes fade {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -70px;
    opacity: 0;
  }
} */

nav [aria-selected="true"] *:not(path:first-child) {
  color: white;
  stroke: white;
  border: none;
}

nav button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

nav button > div {
  --mute-color: hsl(0 0% 60% / 0.6);
  color: var(--mute-color);
  font-size: 10px;
}

nav {
  position: sticky;
  transform: translateY(var(--scroll));
  inset: auto auto 0 auto;
  /*left: 0;*/
  width: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  z-index: 99;
}

.search-container {
  position: relative;
}

input[type="search"] {
  -webkit-appearance: none;
  background: #000;
  padding: 15px 15px 15px 40px;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.search-container > .icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  padding: 7px;
}

section.playlist > .top .info {
  max-height: 100px;
  flex-grow: 1;
  font-size: clamp(0.8em, 3vw, 1.3rem);
}
section.playlist > .top .name {
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section.playlist > .top .cv {
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

section.playlist[aria-hidden="false"] {
  display: block;
}
section.playlist[aria-hidden="true"] {
  display: none;
}
section.playlist {
  display: block;
  padding-block-end: 20px;
  z-index: 1 !important;
}

section.playlist > .tracks-container {
  overflow: visible !important;
}
section.playlist > .nav {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 99;
}

section.playlist > .nav > .icon {
  background-color: hsl(0 0% 20% / 0.6);
  padding: 10px;
  border-radius: 50%;
  z-index: 2;
  width: 40px;
  height: 40px;
}

section.playlist > .top > .icon {
  padding: 10px;
  bottom: -40px;
  background: green;
  border-radius: 50%;
  position: absolute;
  right: 0;
}
section.playlist > .top {
  margin-block: 20px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  gap: 10px;
  min-height: 100px;
  padding-right: 10px;
  position: relative;
}

.tracks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.container:last-child {
  margin-block-end: 75px;
}

body:has(.mini-player) .container:last-child {
  margin-block-end: 130px;
}

.tracks-container .info {
  max-width: 50%;
}

.tracks-container .time {
  font-size: 12px;
  margin-left: auto;
  color: var(--mute-color);
}

.tracks-container .icon {
  height: 60%;
}

.mini-player {
  height: 55px;
  width: 90%;
  background: var(--player-color, rgb(8, 13, 13));
  background-image: linear-gradient(
    to bottom,
    hsl(0 0% 25% / 0.4),
    hsl(0 0% 25% / 0.4)
  );
  position: relative;
  /*inset: auto auto min(90px, 8vh) auto;
  transform: translateX(-50%);
  left: 50%;*/
  grid-area: 2 / 1 / 2 / -1;
  place-self: center;
  border-radius: 5px;
  overflow: hidden;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 5px;
  transform: translateY(var(--scroll));
  animation: popup 0.5s ease;
  transition: transform 0.3s linear;
  z-index: 2;
}

@keyframes popup {
  from {
    /*bottom: 0;*/
    top: 100%;
    opacity: 0;
  }
  to {
    /*bottom: min(8vh, 90px);*/
    top: 0;
    opacity: 1;
  }
}

.mini-player > .info > .artist {
  color: hsl(0 0% 75%);
}

.mini-player > .info > * {
  line-height: 16px;
}
.mini-player > .info {
  max-width: 55%;
}

.mini-player::after {
  content: "";
  bottom: 0;
  left: 7px;
  position: absolute;
  height: 1px;
  max-width: calc(100% - 14px);
  width: var(--current-time);
  background: white;
  transition: 500ms ease;
}

.mini-player > .cv {
  border-radius: inherit;
}

.mini-player > .icon:nth-child(3):has(> svg) {
  margin-left: auto;
}
.mini-player > .icon:has(> svg) {
  border-radius: 50%;
  padding: 5px;
  height: 80%;
  position: relative;
}

.mini-player > .icon:last-child:is([disabled]):has(> svg)::after {
  content: "";
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid var(--not-working);
  inset: 0;
  position: absolute;
  border-radius: inherit;
  animation: loading 1s linear infinite;
}

.player {
  display: block;
  position: fixed;
  inset: 0;
  top: 0;
  width: 100vw;
  max-height: 100vh;
  height: 100dvh;
  background: linear-gradient(
    to top,
    hsl(0 0% 0%),
    hsl(0 0% 0%) 20%,
    var(--player-color, rgb(8, 13, 13)) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
  gap: 10px;
  padding-bottom: 20px;
  animation: playerPop 0.5s ease-in-out;
}

@keyframes playerPop {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*.player .icon > svg {
  border: 1px solid pink;
}
.player .icon:has(> svg) {
  min-height: 30px;
  border: 1px solid red;
}*/

.player .top {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}

.player > .cv {
  --size: 90%;
  width: min(var(--size), 100vh - 300px);
  padding-bottom: min(var(--size), 100vh - 300px);
  margin: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.player > .cv > img {
  position: absolute;
}

.player > div:has(> .info) {
  display: flex;
  max-width: 100%;
  width: 100%;
  align-items: center;
  padding: 10px 20px;
  margin-top: auto;
}

.player > div:has(> .info) > .icon:has(> svg) {
  margin-left: auto;
}
.player > div > .info {
  max-width: 90%;
}

.player .track {
  width: 100%;
  padding: 10px 20px;
  gap: 3px;
  display: flex;
  flex-direction: column;
}

.player .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 0px 20px;
}

.player .bottom svg {
  stroke: var(--mute-color);
}

.heart {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.heart > svg {
  transition: all 0.5s;
  /*box-shadow: 0 0 10px 20px white;*/
  -webkit-filter: drop-shadow(0 0 0 white);
  filter: drop-shadow(0 0 0 white);
}

.heart:active > svg {
  -webkit-filter: drop-shadow(0 0 3px white);
  filter: drop-shadow(0 0 3px white);
  /*box-shadow: 0 0 0 0 white;*/
  transition: 0.5s;
}

.heart:active > svg {
  top: 1px;
}

.aud-track,
.volume-group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aud-track > *,
.volume-group > *:not(.icon) {
  width: 100%;
}

:is(.aud-track, .volume-group) > [type="range"] {
  -webkit-appearance: none;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  -webkit-background-size: 30% 100%;
  background-size: var(--current-time) 100%;
  border-radius: 2rem;
}

:is(.aud-track, .volume-group) > [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 13px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  display: none;
}

[type="range"]:is(:hover, :active)::-webkit-slider-thumb {
  display: block;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

:is(.aud-track, .volume-group) > div:not(.icon) {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: hsl(0 0% 30%);
}

.track .time > * {
  color: var(--mute-color);
  font-size: 12px;
}
.track .time {
  display: flex;
  justify-content: space-between;
}

.controller {
  width: 100%;
  max-height: 55px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.controller > :nth-child(3) {
  background: var(--player-color, rgb(8, 13, 13));
  background-image: linear-gradient(hsl(0 0% 40% / 0.6), hsl(0 0% 40% / 0.6));
  border-radius: 50%;
  padding: 35px;
  position: relative;
  margin-inline: 20px;
  position: relative;
}

.controller > :nth-child(3):is([disabled])::after {
  content: "";
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid hsl(0 0% 60% / 0.7);
  inset: 0;
  position: absolute;
  border-radius: inherit;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}

.controller > :nth-child(3) > svg {
  max-height: 70%;
  max-width: 70%;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.controller > :is(:first-child) {
  margin-right: auto;
  position: relative;
}
.controller > :is(:last-child) {
  margin-left: auto;
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.profile > .cv {
  width: min(50%, 100vh / 2);
  padding-bottom: min(50%, 100vh / 2);
  border-radius: 50%;
}

.profile > .cv > img {
  position: absolute;
}

.profile > .name {
  font-weight: bold;
  font-size: 2rem;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile > .followers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile > .followers > * {
  color: var(--mute-color);
  font-size: 0.7rem;
}

.profile > .followers > .total {
  font-size: 1.5rem;
}

[aria-selected="true"]:not(.controller > *) > .icon {
  fill: var(--fill-color);
  stroke: var(--fill-color);
}
.player
  .controller
  > :is(:first-child, :last-child):is([aria-selected="true"])
  > svg {
  stroke: hsl(120 70% 70%);
  transition: all 0.5s;
}
.player
  .controller
  > :is(:first-child, :last-child):is([aria-selected="true"])::before {
  content: "";
  position: absolute;
  height: 4px;
  aspect-ratio: 1;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: hsl(120 70% 70%);
  transition: 0.5s;
  animation: pop 0.5s ease;
}

.player
  .controller
  > :is(:first-child, :last-child):is([aria-selected="true"])::before,
.player
  .controller
  > :is(:first-child, :last-child):is([aria-selected="true"])
  svg {
  filter: drop-shadow(0 0 2px var(--fill-color));
}

button:not(.controller :nth-child(2), .controller :nth-child(3), .controller
    :nth-child(4), [disabled], .mini-player > :last-child):active
  > svg {
  scale: 0.8;
  stroke: var(--mute-color);
  transition: all 0.5s;
}

.controller > [disabled]:not(:first-child, :last-child) > svg {
  stroke: var(--not-working);
  fill: var(--not-working);
}

:is(.query, .player)[aria-hidden="true"] {
  display: none;
  animation: playerPopOut 0.5s ease;
}

@keyframes playerPopOut {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: 100%;
    opacity: 0;
  }
}

.query[aria-hidden="false"] {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  animation: playerPop 0.5s ease;
}

.query > .top {
  position: fixed;
  background: #000;
  top: 0;
  animation: flatTops 0.5s ease;
}

.query > .top .title {
  display: initial;
}

.query .container.marked {
  border-left: 1.5px solid var(--fill-color);
}

@keyframes flatTops {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.query > div:has(> .secondary) {
  margin-top: 60px;
}

.player .controller > :is(:last-child):is([aria-selected="true"])::after {
  content: "1";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 8px;
  text-align: center;
  background-color: var(--fill-color);
  border-radius: 50%;
  height: 12px;
  aspect-ratio: 1;
  display: grid;
  color: black;
  place-items: center;
  font-weight: bold;
  border: 1.5px solid currentcolor;
  animation: pop 0.5s ease;
}

@keyframes pop {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: initial;
    opacity: 1;
  }
}

a > .icon:hover {
  animation: click 0.5s;
}

@keyframes click {
  from {
    stroke: var(--mute-color);
    scale: 0.7;
  }
  to {
    stroke: inherit;
    scale: 1;
  }
}

:not(.mini-player) > .icon[disabled] svg {
  stroke: var(--not-working);
}

.loading {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  margin: 70% auto auto auto;
}

.loading span {
  height: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl(0 0% 80% / 0.4);
  animation: load 2s ease-in-out infinite;
}

.loading span:nth-child(2) {
  animation-delay: 200ms;
}
.loading span:last-child {
  animation-delay: 400ms;
}

@keyframes load {
  0%,
  50% {
    scale: 1;
  }
  25% {
    scale: 1.2;
    background-color: hsl(0 0% 80%);
  }
}
